
body {
  font-family: helvetica, arial, sans-serif;
  padding: 6rem;
  background-color:  white;      /*#f8f9fa;   background color might look better than just white */
}
main {
  max-width: 40rem;
  margin: 0 auto;
}
.dropzone {
  border: 4px dashed #183996;
  color: rgb(0, 0, 0)
}

.dropzone.dz-clickable{
  border: 4px dashed #183996;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* .dz-default{
  background-color: #001648;
} */
.dz-button{
  background-color:#183996;
  color:#f8f9fa;
}


*{
  box-sizing: border-box;
}

.banner{
  margin-bottom: 30px;
  text-align: center;
  background-color: #001648;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

p{
  font-size: 12px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
