</html><!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dropzone.js Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <meta name="csrf-token" content="XYZ123">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Dropzone.js Example</h1>
      </header>

      <div>
        <form id="upload-widget" method="post" action="/upload" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" />
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>